body{
    background-image: url(images/IMG_0634.JPG);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

img{
    display: block;
    width: 25vw;
    height: auto;
    margin-right: auto;
}

#hoverDiv{
    opacity: 0%;
    position: absolute;
    display: block;
    background-color: #F4D272;
    width: 750px;
    height: 630px;
    left: 20%;
    border-radius: 15px;
}

#hoverDiv:hover{
    opacity: 20%;
}

/* .hidden{
    visibility: hidden;
    opacity: 0;
}

.showing{
    visibility: visible;
    opacity: 1;
} */

#overlay{
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition-property: opacity, visibility;
    transition-duration: 1s;
    transition-timing-function: ease;
}

#overlay article{
    box-sizing: border-box;
    background-color:#fff;
    padding-top:20px;
    padding-right: 50px;
    padding-left: 50px;
    width: 60vw;
    height: 85vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}