body{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #F4F6F0;
    font-family: "Fredoka", "sans-serif";
    margin-bottom: 40px;
}

header{
    display: flex;
}

header h1{
    font-size: 46px;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #4C5938;
}

#processTitle{
    font-size: 42px;
}

header img{
    padding: 40px;
    padding-top: 50px;
}

#brief, #report{
    display: block;
    margin-top:40px;
    background-color: #9BAF7B;
    border-radius: 15px;
    border-width: 15px;
    border-style: solid;
    border-color: #4C5938;
}

main p{
    font-size: 20px;
    line-height: 1.5em;
    color: #F4F6F0;
}

#report p, main li{
    font-size: 18px;
    line-height: 1.5em;
    color: #F4F6F0;
}

main h2{
    padding-top: 20px;
    font-size: 28px;
    font-weight: 600;
    color: #4C5938;
}

main article{
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 20px;
}

#reportImage{
    width: 100%;
    height: auto;
    margin-top: 40px;
    border-radius: 15px;
}